@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Nunito:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Montserrat:wght@400;600&family=Nunito:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Montserrat:wght@400;600&family=Noto+Sans:wght@300;400;500&family=Nunito:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App {
  /* text-align: center; */
}
.navTile{
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem 0.6rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
}
.navTileBottom{
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem 0.6rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  justify-content: center;
}
.navTileBottom:hover{
  background-color: rgba(243, 243, 243, 0.836);
  cursor: pointer;
}
.navTile:hover{
  background-color: rgba(243, 243, 243, 0.836);
  cursor: pointer;
}
.active{
  font-weight: 500;
}

.logo{
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family:Pacifico;
  font-size: 28px;
}
.logoTop{
  width: 100%;
  border-radius: 8px;
  /* padding: 0.6rem; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family:Pacifico;
  font-size: 22px;
}
.logo:hover{
  cursor: pointer;
}
.dp{
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.dp2{
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.dp3{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  padding: 5px;

}
.dp4{
  border-radius: 100%;
  width: 20px;
  height: 20px;
  object-fit: cover;
  /* padding: 5px; */
}
.post{
  /* background-color: #01bd20; */
  width: 100%;
  aspect-ratio: 3/4;
  /* height: 550px; */
  object-fit: cover;

}
.postP{
  /* background-color: #01bd20; */
  width: 100%;
  aspect-ratio: 4/3;
  /* height: 550px; */
  object-fit: cover;

}
.storyDiv{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: linear-gradient(to right,	#ffa95f 5%,
  #f99c4a 15%,
  #f47838 30%,
  #e75157 45%,
  #d92d7a 70%,
  #cc2a92 80%,
  #c32e92 95%);
  padding: 3px;

}
.highlightDivWeb{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid rgb(207, 207, 207);
  padding: 3px;
}
.highlightDiv{
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid rgb(207, 207, 207);
  padding: 2px;

}
.storiesDiv::-webkit-scrollbar{
  display: none;
}
.storiesDiv{
  /* position: relative;; */
  scroll-behavior: smooth;
  overflow-x: scroll;
  
}
.leftArr,
.rightArr{
  position: absolute;
  background-color: #ffffff;
  display: flex;
  margin: 0px 10px;
  border-radius: 50%;
  display: none;
}
.add{
  display: flex;
}
.leftArr{
  top: 25%;
  left: 0;
}
.rightArr{
  right: 0;
  top: 25%;
  justify-content: flex-end;
}


.story{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  outline:1px solid white;
}
.footer{
  padding: 0rem 0.2rem;
  font-size: 14px;
  color: gray;
}
.footer:hover{
  text-decoration: underline;
  cursor: pointer;
}
.username{
  font-size: 18px;
  font-family: "Poppins";
}
.btn{
  width: fit-content;
  background-color: rgb(240, 240, 240);
  border: 0px solid gray;
  padding: 5px 15px;
  border-radius: 8px;
  color: black;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 400;
}
.dpProfile{
  border-radius: 50%;
  padding: 0.6rem;
  object-fit: cover;
}
.tabss{
  color: gray
}
.activeTab{
  border-top: 1px solid black;
  color: black;
}
.postPic{
  width: 32%; 
  aspect-ratio: 5/5;
  /* background-color: #cc2a92; */
  cursor: pointer;
  position: relative;
}
.post-overlay {
  background: rgba(0,0,0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.postPic:hover .post-overlay{
  display: flex;
}
.post-overlay > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.post-likes,
.post-comments {
  width: 80px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.postPic:hover{

}
.postPic > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Phone Modal */
.modalp, .overlayp {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.modal-contentp {
  position: relative;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  line-height: 1.4;
  background: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height:100vh;
  padding-top: 4rem;
  justify-content: space-between;
  scroll-behavior: smooth;
  overflow: scroll;

}
/* //MODAL */
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.411);
  /* overflow: hidden; */
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  height: 80%;
  min-width: 730px;
  width: 50%;
  justify-content: space-between;

}
.pic-div{
  background-color: #f47838;
  flex-grow: 1;
}
.pic-div > img{
  width: 100%;
  height: 100%;
}
.scroll{
  height: 95vh;
}
.cmt-div{
  /* background-color: #8d8c8c; */
  /* width: 1; */
  flex-grow: 1;
  padding: 1rem 0rem;
  position: relative;
  overflow:scroll;
  scroll-behavior: smooth;
  background-color: #ffffff;
}
.cmt-div::-webkit-scrollbar{
  display: none;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
details > summary {
  list-style-type: '';
  cursor: pointer;
}

.side{
  float: left;
}
@media screen and (max-width: 760px) {
}